@charset "UTF-8";
/*Regra charset caso haja problemas com acentuações*/

body {
    background-color: rgba(58, 35, 0, 0.829);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
h1 {
        color: rgb(246, 255, 163);
        background-color: rgb(37, 37, 37);
}
h2 {
    color: blanchedalmond;
}
p {
    text-align: justify;
}