@charset "UTF-8";

/* Versão Mobile First */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: black url(../imagens/back-phone.jpg) no-repeat center center/ cover;
    padding-top: 20px;
}


main {
    background-color: rgba(255, 255, 255, 0.61);
    width: 400px;
    margin: auto;
    border-radius: 8px;
    padding: 10px;
}

h1 {
    text-align: center;
}

#tablet, #pc, #TV, #impressora {
    display: none;
}

#celular {
    display: block;
}